#header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background-color: #22313f;
  color: white;
  font-family: 'Raleway', sans-serif;
}

#header-banner {
  padding: 15px;
}

#back-button {
  float: left;
}

#back-button a{
  text-decoration: none;
  padding-left: 12px;
  color: #607D8B;
}

#back-button a:hover{
  color: #00BCD4;
}

#icon {
  float: left;
  height: 20px;
}

.project-name {
  float: right;
  padding-right: 10px;
}

#project-content {
  text-align: center;
  padding: 20px 0;
  margin: 15px 0;
}

#project-content img {
  max-width: 100%;
}

.image-title {
  font-family: 'ABeeZee', sans-serif;
  font-weight:bolder;
  padding: 10px;
  margin-top: 10px;
  border-style: solid;
  border-width: 2px 0 0 0;
  border-color: #efefef;
  background-color: #ffffff;
  color: #000000;
  font-size: 3.0vw;

}

.image-title h2 {
  font-family:'Raleway', sans-serif;
  font-size: 2.6vw;
  font-weight:lighter;
  padding-top: 10px;
  margin-top: 0;
  color: #000000;
}

.image-title p {
  width: 80%;
  padding-left: 10%;
  padding-top: 20px;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  font-size: 1.9vw;
  font-weight:lighter;
  padding-top: 0;
  margin-top: 0;
  color: #000000;
}


body {
  background-color: white;
  margin:0;
}

.quotes {
  font-style:italic;
  font-weight:lighter;
  font-size: 10px;
}

#cover {
  width: 100%;
  padding: 0;
}
