@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/YZaO6llzOP57DpTBv2GnyFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  src: local('ABeeZee'), local('ABeeZee-Regular'), url(https://fonts.gstatic.com/s/abeezee/v9/yTibYMDoFfqshd01j2jrvwLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

#header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #22313f;
  color: white;
  font-family: 'Raleway', sans-serif;
}

#header-banner {
  padding: 15px;
}

#back-button {
  float: left;
  padding: 20px 0 20px 30px;
}

#back-button a{
  text-decoration: none;
  color: #85CB33;
  font-size: 30px;
}

#back-button a:hover{
  color: #00BCD4;
}

#logoaa {
  float: left;
  height: 50px;
}

#project-content {
  background-color: #22313f;
}

.dropdown {
  float: right;
  padding: 5px 5px 20px 0;
  position: relative;
  display: inline-block;
}

/* Dropdown Button */
.dropbtn {
    background-color: rgba(76, 175, 80, 0);
    color: white;
    padding: 16px;
    font-size: 25px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: thick solid #4CAF50;
    cursor: pointer;
    font-family: 'Raleway';
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #4CAF50;
}


/* .project-name {
  font-size: 30px;
  float: right;
  padding-right: 10px;
  text-decoration: none;
  color: #EAF2EF;
}

.project-name:hover{
  color: #00BCD4;
} */

#project-content {
  text-align: center;
  padding: 0;
  margin: 0;
}

#project-content img {
  padding-top: 50px;
  max-width: 100%;
}

.image-title {
  font-family: 'Raleway', sans-serif;
  font-weight:400;
  padding: 100px 0px 20px 0px;
  margin-top: 100px;
  border-style: solid;
  border-width: 8px 0 0 0;
  border-color: #efefef;
  color: #000000;
  font-size: 31px;
  color: aqua;

}

.image-title h4 {
  font-family: 'Raleway', sans-serif;
  font-weight:400;
  color: aqua;
  font-size: 31px;

}

.image-title h2 {
  font-family:'Raleway', sans-serif;
  font-size: 22px;
  font-weight:lighter;
  padding-top: 10px;
  margin-top: 0;
  color: #000000;
}

.image-title p {
  width: 60%;
  padding-left: 20%;
  padding-top: 20px;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  font-size: 18px;
  font-weight:lighter;
  padding-top: 0;
  margin-top: 0;
  color: #dadada;
}

.image-title ul {
  list-style: none;
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 20px;
  color: black;
  line-height: 1.5;
}

.image-title ul li {
/*   line-height: 14px; */
}


body {
  background-color: #22313f;
  margin:0;
}

.quotes {
  font-style:italic;
  font-weight:lighter;
  font-size: 10px;
}

#bcgcover {
  background-color: #22313f;
  margin: 0;
  padding: 0;
}

#cover {
  width: 100%;
  height: auto;
  padding: 20px 0 0 0;
  margin: none;
}

#contents {
  font-family: 'Raleway', sans-serif;
  margin: none;
  padding: 50px 0 50px 0;
  text-align: left;
  background-color: #55828B;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}

#contents ul {
  font-family: 'Raleway', sans-serif;
  list-style: none;
  font-weight:lighter;
  line-height: 1.2;
}

#contents ul a {
  text-decoration: none;
  font-size: 18px;
  font-weight:lighter;
  color: #22313F;
}

#contents ul a:hover {
  text-decoration: none;
  font-weight:lighter;
  color: #2196F3;
}

.section-title {
  background-color: #22313f;
  margin: 50px 0 0 0;
  padding: 30px 0 30px 0;
  font-family: 'Raleway', sans-serif;
}

.section-title h1 {
  color: aliceblue;

}

.section-title h4 {
  color:greenyellow;
  font-size: 20px;
}

#drawingobjects {
  margin-top: 0;
}

#beginning {
  margin-top: 0;
}

#bef {
  margin-top: 0;
}

footer {
  background-color: black;
  height: 80px;
  font-family: 'Raleway';
  color: #c3c3c3;
  padding: 0 0 0 0;
  font-size: 20px;
  padding-top: 3px;
}

.parentfooter {
  position: relative;
  top: 0;
}

.signature {
  position: absolute;
  top: 0;
  right: 30px;
}

.signature p {
  padding-top: 5px;
}

.signature a {
  text-decoration: none;
  color: #85CB33;
}

.logowrapper {
  position: absolute;
  top: 0;
  left: 30px;
}

.logoc img {
  height: 30px;
  padding: 20px 50px 0 0;
}

.logoc img:hover{
  filter: sepia() saturate(10000%) hue-rotate(30deg);
}