#header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  color: white;
  font-family: 'Raleway', sans-serif;
}

#header-banner {
  padding: 10px;
}

#back-button {
  float: left;
}

#splash {
  width: 100%;
}

.project-name {
  float: right;
  padding-right: 10px;
}

#project-content {
  text-align: center;
  padding: 20px 0;
  margin: 15px 0;
}

#project-content img {
  max-width: 100%;
}

.image-title {
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  margin-top: 10px;
  border-style: solid;
  border-width: 3px 0 3px 0;
  border-color: #ED254E;
  background-color: #235789;
  color: #F1D302;
  font-size: 3vw;

}

.image-title p {
  font-size: 2.7vw;
  padding-top: 0;
  margin-top: 0;
  color: #F4FFFD;
}

body {
  background-color: white;
}

.container {
  max-height: 100%;
}

.container img {
  height: 100%;
}