@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/YZaO6llzOP57DpTBv2GnyFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  src: local('ABeeZee'), local('ABeeZee-Regular'), url(https://fonts.gstatic.com/s/abeezee/v9/yTibYMDoFfqshd01j2jrvwLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

#header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background-color: #22313f;
  color: white;
  font-family: 'Raleway', sans-serif;
}

#header-banner {
  padding: 15px;
}

#back-button {
  float: left;
}

#back-button a{
  text-decoration: none;
  padding-left: 12px;
  color: #85CB33;
}

#back-button a:hover{
  color: #00BCD4;
}

#icon {
  float: left;
  height: 20px;
}

.project-name {
  float: right;
  padding-right: 10px;
}

.project-name a {
  float: right;
  padding-right: 10px;
  text-decoration: none;
  color: #EAF2EF;
}

.project-name a:hover{
  color: #00BCD4;
}

#project-content {
  text-align: center;
  padding: 0;
  margin: 0;
}

#project-content img {
  padding-top: 50px;
  max-width: 100%;
}

.image-title {
  font-family: 'Raleway', sans-serif;
  font-weight:400;
  padding: 100px 0px 20px 0px;
  margin-top: 100px;
  border-style: solid;
  border-width: 2px 0 0 0;
  border-color: #efefef;
/*   background-color: #f8f8f8; */
  color: #000000;
  font-size: 31px;
  color: #00a3c3;

}

.image-title h4 {
  font-family: 'Raleway', sans-serif;
  font-weight:400;
  color: #00a3c3;
  font-size: 31px;

}

.image-title h2 {
  font-family:'Raleway', sans-serif;
  font-size: 22px;
  font-weight:lighter;
  padding-top: 10px;
  margin-top: 0;
  color: #000000;
}

.image-title p {
  width: 60%;
  padding-left: 20%;
  padding-top: 20px;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  font-size: 18px;
  font-weight:lighter;
  padding-top: 0;
  margin-top: 0;
  color: #000000;
}

.image-title ul {
  list-style: none;
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 20px;
  color: black;
  line-height: 1.5;
}

.image-title ul li {
/*   line-height: 14px; */
}


body {
  background-color: white;
  margin:0;
}

.quotes {
  font-style:italic;
  font-weight:lighter;
  font-size: 10px;
}

#bcgcover {
  background-color: #22313f;
  margin: 0;
  padding: 0;
}

#cover {
  width: 100%;
  height: auto;
  padding: 20px 0 0 0;
  margin: none;
}

#contents {
  font-family: 'Raleway', sans-serif;
  margin: none;
  padding: 50px 200px 50px 250px;
  text-align: left;
  background-color: #3C6E71;
  color: #ffffff;
}

#contents ul {
  font-family: 'Raleway', sans-serif;
  list-style: none;
  font-weight:lighter;
  line-height: 1.5;
}

#contents ul a {
  text-decoration: none;
  font-size: 20px;
  font-weight:lighter;
  color: #e8e8e8;
}

#contents ul a:hover {
  text-decoration: none;
  font-weight:lighter;
  color: #2196F3;
}

.section-title {
  background-color: #22313f;
  margin: 50px 0 0 0;
  padding: 30px 0 30px 0;
  font-family: 'Raleway', sans-serif;
}

.section-title h1 {
  color: aliceblue;

}

.section-title h4 {
  color:greenyellow;
  font-size: 20px;
}

#drawingobjects {
  margin-top: 0;
}

#beginning {
  margin-top: 0;
}

#bef {
  margin-top: 0;
}


