html,
body
{
  padding: 0;
  margin: 0;
  font-family: 'ABeeZee', sans-serif;
  font-size: 12px;
  overflow-x: hidden;
  width: 11000px;
  height: 760px;
}

#aartics_go {
  color: white;
  text-decoration: none;
}

#aartics_go:hover {
  color: red;
  text-decoration: none;
}

.header {
  background-color:black;
  position: fixed;
  bottom: 700px;
  width: 11000px;
  z-index: 20000;

}

.header h1 {
  color:white;
  padding-left: 80px;
  padding-top: 5px;
}

.scroll {
  position: fixed;
  bottom: 0;
/*   float: right; */
  width: 11000px;
  z-index: 500;
}

.aartics_resonate_concept {
  position: fixed;
  width: 11000px;
  z-index: 800;
  bottom: 61px;
  padding-left: 550px;
}

.raleway {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

img {
  max-height: 760px;
}

.aartics_resonate_personas {
  position: fixed;
  width: 11000px;
  z-index: 900;
  bottom: 0;
  padding-left: 1400px;
}

.aartics_resonate_comp_analysis {
  position: fixed;
  width: 11000px;
  z-index: 1000;
  bottom: 0;
  padding-left: 2700px;
}

.aartics_resonate_systemflow {
  position: fixed;
  width: 11000px;
  z-index: 1000;
  bottom: 0;
  padding-left:4300px;
}

.aartics_resonate_prototype {
  position: fixed;
  width: 11000px;
  z-index: 1200;
  bottom: 61px;
  padding-left:6400px;
}

.aartics_resonate_chromemockup {
  position: fixed;
  width:11000px;
  z-index: 1300;
  bottom: 0;
  padding-left: 7200px;
}

.aartics_resonate_roadmap {
  position: fixed;
  width: 11000px;
  z-index: 1400;
  bottom: 0;
  padding-left: 8700px;
}

.aartics_resonate_interview {
  position: fixed;
  width: 11000px;
  z-index: 1500;
  bottom: 0;
  padding-left: 9500px;
}

.title_text_bar {
  position: fixed;
  width: 11000px;
  z-index: 1600;
  bottom: 0;
}

.title_text_bar h1 {
  padding-bottom: 1px;
  width: 500px;
  font-size: 16pt;
}

.title_text_bar h2 {
  font-family: Raleway;
  font-size: 11pt;
  padding-bottom: 575px;
  width: 800px;
}

#t1 {
  padding-left: 80px;
}

#t2 {
  padding-left: 570px;
}

#t3 {
  padding-left: 1400px;
}

#t4 {
  padding-left: 2700px;
}

#t5 {
  padding-left: 4300px;
}

#t6 {
  padding-left: 6400px;
}

#t7 {
  padding-left: 7260px;
}

#t8 {
  padding-left: 8700px;
}

#t9 {
  padding-left: 9540px;
}