html,
body
{
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  overflow-x: hidden;
  width: 3000px;
  height: 760px;
  background-color: black;
}

.bigmsg {
  font-size: 45px;
  fill: white;
}

.bigmsg a{
  font-size: 45px;
  fill: #00BCD4;
  text-decoration:underline;
}

.bigmsg a:hover{
  font-size: 45px;
  fill: #F44336;
}

.bigheader {
  position: fixed;
  bottom: 800px;
  z-index: 0;
}

#bighi {
  font-size: 80px;
}

.header {
  background-color:black;
  position: fixed;
  bottom: 700px;
  width: 3000px;
  z-index: 1000;

}

h1 {
  font-family: 'Raleway', sans-serif;
  color:white;
  padding-left: 80px;
  padding-top: 5px;
}

.scroll {
  position: fixed;
  bottom: 0;
/*   float: right; */
  width: 11000px;
  z-index: 500;
}

.aartics_sfac_votingapp {
  position: fixed;
  width: 11000px;
  z-index: 800;
  bottom: 61px;
  padding-left: 550px;
}

.raleway {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

img {
  max-height: 760px;
}
