html,
body
{
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  overflow-x: hidden;
  width: 3000px;
  height: 760px;
  background-color: black;
}

.header {
  background-color:black;
  position: fixed;
  bottom: 700px;
  width: 3000px;
  z-index: 1000;

}

h1 {
  font-family: 'Raleway', sans-serif;
  color:white;
  padding-left: 80px;
  padding-top: 5px;
}

.scroll {
  position: fixed;
  bottom: 0;
/*   float: right; */
  width: 3000px;
  z-index: 500;
}

.aartics_sfac_votingapp {
  position: fixed;
  width: 3000px;
  z-index: 800;
  bottom: 61px;
  padding-left: 550px;
}

.raleway {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

img {
  max-height: 760px;
}
