@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/YZaO6llzOP57DpTBv2GnyFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  src: local('ABeeZee'), local('ABeeZee-Regular'), url(https://fonts.gstatic.com/s/abeezee/v9/yTibYMDoFfqshd01j2jrvwLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


html,
body
{
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  background-color: #22313f;
}

/* jinvertscroll: hide horizontal scrollbars, since we use the vertical ones to scroll to the right */
body
{
  overflow-x: hidden;
}


.bigmsg {
  font-size: 45px;
  fill: white;
}

.bigmsg a{
  font-size: 45px;
  fill: #00BCD4;
}

.bigmsg a:hover{
  font-size: 45px;
  fill: #F44336;
}

.bigheader {
  position: fixed;
  bottom: 800px;
  z-index: 0;
}

#bighi {
  font-size: 80px;
}

text {
  fill: whitesmoke;
}

.cls-1 {
  fill: #374959;
  fill-opacity: .8;
  stroke: #29626d;
  z-index: 1;
}

.cls-2 {
  fill: rgba(34, 49, 63, 0.89);
  stroke-width: 2px;
  stroke: #b5b5b5;
  z-index:2;

}

.header {
  background:linear-gradient(to right, black 19%, #22313f 20%);
  position: fixed;
  bottom: 700px;
  width: 3000px;
  z-index: 10;

}

h1 {
  color:white;
  font-size: 24px;
  padding-left: 80px;
  padding-top: 5px;
}

.backgroundgrad {
/*   background: radial-gradient(black 15%, white 60%); */
  background: #22313f;
  width: 3000px;
  height: 760px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index:1;
}
.scroll
{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.raleway {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.credits {
  font-size: 12px;
  fill: white;
}

#credits7 a{
  font-size: 12px;
  fill: #FFC107;
}

#credits11 a{
  fill: #FFC107;
}

#credits12 a{
  fill: #FFC107;
}

#credits7 a:hover {
  font-size: 12px;
  fill: #00BCD4;
}

#credits11 a:hover{
  fill: #00BCD4;
}

#credits12 a:hover{
  fill: #00BCD4;
}

.project_box {
  stroke:#8ac1c0;
  stroke-width: 7px;
}

.project_box_arch {
  stroke:#ffffff;
  stroke-width: 1px;
}

.project_box_arch:hover, .project_box_arch.hovered{
  fill: orange;
  fill-opacity: 0.8;
  stroke: orange;
  stroke-width: 7px;
}

.project_box_product {
  stroke:#ffffff;
  stroke-width: 1px;
}

.project_box_product:hover, .project_box_product.hovered{
  fill: #EF2D56;
  fill-opacity: 0.8;
  stroke: #EF2D56;
  stroke-width: 7px;
}

.project_box_soft {
  stroke:#ffffff;
  stroke-width: 1px;  
}

.project_box_soft:hover, .project_box_soft.hovered{
  fill: #F8C537;
  fill-opacity: 0.8;
  stroke: #F8C537;
  stroke-width: 7px;
}

#_7 {
  fill: #75fffa;
  fill-opacity: 0.0;
}

#_7:hover, #_7.hovered{
  fill-opacity: 0.8;
/*   stroke:#75FFFA; */
  stroke: url('#exampleGradient');

}

#_16 {
  fill: #75fffa;
  fill-opacity: 0.0;
}

#_16:hover, #_16.hovered{
  fill-opacity: 0.8;
  stroke:url('#exampleGradient');
}


#_18 {
  fill: #75fffa;
  fill-opacity: 0.0;
}

#_18:hover, #_18.hovered{
  fill-opacity: 0.8;
  stroke:url('#exampleGradient');
}

#_3 {
  fill: #75fffa;
  fill-opacity: 0.0;
}

#_3:hover, #_3.hovered{
  fill-opacity: 0.8;
  stroke:url('#exampleGradient');
}

.contact_class {
  fill: #22313f;
  fill-opacity: 0.4;
  stroke: #71F300;
  stroke-width: 4px;
}

.contact_text a{
  font-size: 18px;
  fill: white;
}
.contact_text a:hover {
  fill: red;
}

.ux {
  fill:#548687;
}

.traleway {
  font-family: Raleway;
  font-style: italic;
  font-size: 15px;
  fill: #ffffff;
}

#aarti {
  font-family: Raleway;
  font-size: 35px;
  fill:#ffffff;
}

#c {
  font-size: 35px;
}
#sharma {
  font-size: 35px;
}


#pipe {
  font-size: 70px;
  font-weight: lighter;
  fill: #548687;
}

.casestudy a{
  font-family: Raleway;
  font-size: 10.5px;
  fill:#548687;
}

.projectdescription a{
  font-family: Raleway;
  font-weight:lighter;
  font-style: thin;
  font-size: 15px;
  fill: #E5FFDE;
}

.projectname a{
  font-family: Raleway;
  font-style: thin;
  font-size: 20px;
  fill: #ffffff;  
}

.titleux {
  font-size: 22px;
  fill:#548687;
}

.titlearch{
  font-size: 22px;
  fill: #b76d00;
}

/* .titlearch a:hover, .titlearch a.hovered{
  fill: red;
} */

.titleprod {
  fill:#a24559;
}

.titleengg {
  font-size: 20px;
  fill:#F8C537;
}

.has_link { 
  cursor: pointer; 
}

#arrow {
  font-size: 90px;
  font-weight: lighter;
  fill: #71f300;
  animation: hideshow 2.5s ease infinite;
}

@keyframes hideshow {
  0% { opacity: 0.1; }
  20% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0.1; }
} 