html,
body
{
  padding: 0;
  margin: 0;
  font-family: 'ABeeZee', sans-serif;
  font-size: 20px;
}

/* hide horizontal scrollbars, since we use the vertical ones to scroll to the right */
body
{
  overflow-x: hidden;
  /*background: url('../images/bg.jpg') repeat top left;*/
}

text {
  fill: white
}

.cls-1 {
  fill: #374959;
  fill-opacity: .8;
  stroke: #29626d;
}

.cls-2 {
  fill: rgba(34, 49, 63, 0.89);
  stroke-width: 2px;
/*   stroke: url('#exampleGradient') */
  stroke: #b5b5b5;

}

.header {
  background:linear-gradient(to right, black 19%, #22313f 20%);
  position: fixed;
  bottom: 700px;
  width: 3000px;
  z-index: 10;

}

h1 {
  color:white;
  font-size: 24px;
  padding-left: 80px;
  padding-top: 5px;
}

.backgroundgrad {
/*   background: radial-gradient(black 15%, white 60%); */
  background: #22313f;
  width: 3000px;
  height: 760px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index:1;
}
.scroll
{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.redText {
    fill: red;
}

.raleway {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

#credits {
  font-size: 12px;
  fill: black;
}

.project_box {
  fill: none;
  stroke: red;
  stroke-width: 7px;
}

#_7 {
  fill: red;
  fill-opacity: 0.1;
}

#_7:hover{
  fill-opacity:0.5;
}

#_16 {
  fill: red;
  fill-opacity: 0.1;
}

#_16:hover{
  fill-opacity:0.5;
}

#_18 {
  fill: red;
  fill-opacity: 0.1;
}

#_18:hover{
  fill-opacity:0.5;
}

#_3 {
  fill: red;
  fill-opacity: 0.1;
}

#_3:hover{
  fill-opacity:0.5;
}

.contact_class {
  fill: white;
  fill-opacity: 0.7;
  stroke: black;
  stroke-width: 4px;
}

#gmail1:hover {
  fill: red;
}

#linkedin1:hover {
  fill: red;
  stroke: red;
}

#resume1:hover {
  fill: red;
  stroke: red;
}