html,
body
{
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

/* jinvertscroll: hide horizontal scrollbars, since we use the vertical ones to scroll to the right */
body
{
  overflow-x: hidden;
}

text {
  fill: whitesmoke;
}

.cls-1 {
  fill: #374959;
  fill-opacity: .8;
  stroke: #29626d;
  z-index: 1;
}

.cls-2 {
  fill: rgba(34, 49, 63, 0.89);
  stroke-width: 2px;
  stroke: #b5b5b5;
  z-index:2;

}

.header {
  background:linear-gradient(to right, black 19%, #22313f 20%);
  position: fixed;
  bottom: 700px;
  width: 3000px;
  z-index: 10;

}

h1 {
  color:white;
  font-size: 24px;
  padding-left: 80px;
  padding-top: 5px;
}

.backgroundgrad {
/*   background: radial-gradient(black 15%, white 60%); */
  background: #22313f;
  width: 3000px;
  height: 760px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index:1;
}
.scroll
{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.raleway {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

#credits {
  font-size: 12px;
  fill: black;
}

.project_box {
  stroke:#8ac1c0;
  stroke-width: 7px;
}

.project_box_arch {
  stroke:#ffffff;
  stroke-width: 1px;
}

.project_box_arch:hover{
  fill: orange;
  fill-opacity: 0.5;
  stroke: orange;
  stroke-width: 7px;
}

.project_box_product {
  stroke:#ffffff;
  stroke-width: 1px;
}

.project_box_product:hover{
  fill: #EF2D56;
  fill-opacity: 0.5;
  stroke: #EF2D56;
  stroke-width: 7px;
}

#_7 {
  fill: #75fffa;
  fill-opacity: 0.0;
}

#_7:hover{
  fill-opacity:0.5;
/*   stroke:#75FFFA; */
  stroke: url('#exampleGradient');

}

#_16 {
  fill: #75fffa;
  fill-opacity: 0.0;
}

#_16:hover{
  fill-opacity:0.5;
  stroke:url('#exampleGradient');
}

#_18 {
  fill: #75fffa;
  fill-opacity: 0.0;
}

#_18:hover{
  fill-opacity:0.5;
  stroke:url('#exampleGradient');
}

#_3 {
  fill: #75fffa;
  fill-opacity: 0.0;
}

#_3:hover{
  fill-opacity:0.5;
  stroke:url('#exampleGradient');
}

.contact_class {
  fill: #22313f;
  fill-opacity: 0.4;
  stroke: #71F300;
  stroke-width: 4px;
}

.contact_text a{
  font-size: 18px;
  fill: white;
}
.contact_text a:hover {
  fill: red;
}

.ux {
  fill:#548687;
}

.traleway {
  font-family: Raleway;
  font-style: italic;
  font-size: 15px;
  fill: #ffffff;
}

#aarti {
  font-family: Raleway;
  font-size: 35px;
  fill:#ffffff;
}

#c {
  font-size: 35px;
}
#sharma {
  font-size: 35px;
}


#pipe {
  font-size: 70px;
  font-weight: lighter;
  fill: #548687;
}

.casestudy a{
  font-family: Raleway;
  font-size: 10.5px;
  fill:#548687;
}

.projectdescription a{
  font-family: Raleway;
  font-weight:lighter;
  font-style: thin;
  font-size: 15px;
  fill: #ffffff;
}

.projectname a{
  font-family: Raleway;
  font-style: thin;
  font-size: 20px;
  fill: white;  
}

.titleux {
  font-size: 22px;
  fill:#548687;
}

.titlearch a{
  font-size: 22px;
  fill: #b76d00;
}

.titlearch a:hover{
  fill: red;
}

.titleprod {
  fill:#a24559;
}

.titleengg {
  font-size: 20px;
  fill:#8B8C89;
}

#arrow {
  font-size: 90px;
  font-weight: lighter;
  fill: #71f300;
  animation: hideshow 2.5s ease infinite;
}

@keyframes hideshow {
  0% { opacity: 0.1; }
  20% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0.1; }
} 